<div class="row mt-4">
  <div class="col-md-6">
    <h2>Add a New Expense:</h2>
<!-- HTML for the add page with input boxes -->
    <form class="form new-expense-form">
      <div class="form-group">
        <label for="expense-name">Expense Name:</label>
        <input
          class="form-input"
          type="text"
          id="expense-name"
          name="expense-name"
        />
      </div>
      <div class="form-group">
        <label for="payment-amount">Payment Amount:</label>
        <input
          class="form-input"
          type="number"
          id="payment-amount"
          name="payment-amount"
        />
      </div>
      <div class="form-group">
        <label for="expense-desc">Description:</label>
        <textarea
          class="form-input"
          id="expense-desc"
          name="expense-desc"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="due-date">Payement Due Date:</label>
        <textarea class="form-input" id="due-date" name="due-date"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
  </div>

<!-- HTML for the active expenses the user has -->
  {{#if Newexpenses.length}}
    <div class="col-md-6 expense-list">
      <h3>Active Expenses:</h3>

      {{#each Newexpenses as |expense|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a
                href="/expense/{{expense.id}}"
              >{{expense.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-danger del-user-button"
              data-id="{{expense.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<!-- <script src="../public/js/profile.js"></script> . -->
<script src="/js/profile.js"></script>